.search-bar {
    background: #e5e2dc;
    margin-bottom: 5px;

    .search-bar-content {
        padding: 5px;
        margin: 5px 0;
        background: white;

        .search-input {
            width: 100%;
            height: 20px;
            box-sizing: border-box;
            padding: 2px 7px 3px;
            border: none;
            border-radius: 0;

            color: #707070;
            background: #fff;
            font: 15px/20px Arial, Helvetica, sans-serif;
            outline: none;
        }
    }
}
