.json-code pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    font: 12px "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", "Cousine", monospace, monospace;
}

.json-code .string {
    color: rgb(42, 0, 255);
}

.json-code .number {
    color: darkblue;
}

.json-code .boolean {
    color: inherit;
}

.json-code .null {
    color: inherit;
}

.json-code .key {
    color: rgb(127, 0, 85);;
}
