.raised-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 8px;
    margin-right: 8px;
}
