.filters > .title {
    margin-left: 32px;
    margin-bottom: 8px;
    padding: 12px 0;
    font-size: large;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.filters .section {
    margin-bottom: 18px;
}

.filters .section-content:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.filters .section-content .raised-radio-button,
.filters .section-content .raised-checkbox {
    width: 200px;
    float: left;
}

.filters .filter-location .label {
    font-size: 12px;
    color: #b1b1b1;
    margin-bottom: 8px;
}

.filters .location-map {
    margin-left: -48px;
    margin-right: -18px;
}

.filters .filter-price .min-price {
    margin-right: 10px;
}

.filters .min-price, .filters .max-price {
    max-width: 210px;
}
