.page > .header {
    background: #45b862;
}

.page > .header > .header-content {
    width: 1000px;
    margin: 0 auto;
    padding-top: 23px;
}

.page .header .logo {
    height: 60px;
    background: #45b862 url("/img/logo.png") no-repeat;
}

.page .page-content {
    width: 1000px;
    margin: 4px auto;
    padding: 16px;
}

.page .page-content h2 {
    font: 25px Arial, Helvetica, sans-serif;
    color: #45b862;
}
